</div><!-- /.container -->

<br><br>
<hr>
<p class="text-center">&copy; CmsShopping Cart, By NMU Student 2021</p>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
