<% Object.key(messages).array.forEach(function name(type){%> 
<div class="alert alert-<%=type%>">
    <% messages[type].forEach(function (message) { %> 
        <%= message %>
    <% }) %>     
</div>
<% }) %> 